<div class="w-full">
	<router-outlet></router-outlet>
</div>

<div class="fixed bottom-4 left-4">
	<button
		#menuTrigger="matMenuTrigger"
		(mouseover)="menuTrigger.openMenu()"
		[matMenuTriggerFor]="menu"
		class="bg-purple-700 btn-menu"
		mat-mini-fab>
		<mat-icon style="color: white">menu</mat-icon>
	</button>
</div>

<mat-menu #menu="matMenu">
	<button [matMenuTriggerFor]="component" mat-menu-item>Component</button>
	<button mat-menu-item>Section 7: Enhancing Elements with Directives - Deep Dive</button>
	<button mat-menu-item>Section 8: Transforming Values with Pipes - Deep Dive</button>
	<button mat-menu-item>
		Section 9: Understanding Services & Dependency Injection - Deep Dive
	</button>
	<button mat-menu-item>Section 10: Making Sense of Change Detection - Deep Dive</button>
	<button mat-menu-item>Section 11: Working with RxJS (Observables) - Deep Dive</button>
	<button mat-menu-item>Section 12: Sending HTTP Requests & Handling Responses</button>
	<button mat-menu-item>
		Section 13: Handling User Input & Working with Forms (Template-driven & Reactive)
	</button>
	<button mat-menu-item>
		Section 14: Routing & Building Multi-page Single Page Applications
	</button>
</mat-menu>

<mat-menu #component="matMenu">
	<button [routerLink]="'component/practice'" mat-menu-item routerLinkActive="active">
		Section 4: Angular Essentials - Time To Practice
	</button>
	<button [routerLink]="'component/deep-dive'" mat-menu-item routerLinkActive="active">
		Section 6: Components & Templates - Deep Dive
	</button>
</mat-menu>
