table {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

table thead {
  font-size: 0.7rem;
  color: #83e6c0;
  border: 1px solid #76c0ae;
}

table tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

tr {
  text-align: center;
}

.btn-reset {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #83e6c0;
  color: #1a1f1d;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}